{{ define "head-styles" }}
  {{ $pageCSS := "scss/about-cooperative.scss" }}
  {{ $options := (dict "transpiler" "dartsass" "outputStyle" "compressed") }}
  {{ $inlineCSS := resources.Get $pageCSS | css.Sass $options }}
  <style>{{ $inlineCSS.Content | safeCSS }}</style>
{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <section class="text-content" id="mission">
    {{ .Content }}
  </section>

  <section class="board-members">
    {{ range .Params.board_members }}
      {{ partial "about-cooperative/board-member-card.html" . }}
    {{ end }}
  </section>
{{ end }}
