:root {
  --headshot-size: 18.75rem;
}

.profile-card {
  display: grid;
  grid-template-columns: var(--headshot-size) 1fr;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas:
    "headshot name"
    "headshot credentials"
    "headshot tags";
  column-gap: var(--space-m);
  padding: var(--space-s);
  border-radius: var(--border-radius-md);
  border: 5px solid var(--brown-300);
  align-items: center;
  text-decoration: none;
  color: var(--color-text-main);
}

.headshot {
  grid-area: headshot;
  border: 5px solid var(--teal-500);
  border-radius: var(--border-radius-md);
  aspect-ratio: 1 / 1;
  object-fit: cover;
  height: 100%;
  width: var(--headshot-size);
}

.name {
  grid-area: name;
  margin: 0;
}

.no-credentials {
  grid-area: credentials;
}

.credentials {
  grid-area: credentials;
  margin: 0;
  align-self: start;
  font-size: var(--step--1);
  font-weight: 300;
  font-variation-settings: "slnt" -12;
}

.tags {
  grid-area: tags;
}

.profile-card-container + .profile-card-container {
  margin-block-start: var(--space-m);
  container-type: inline-size;
}

@container (width < 40rem ) {
  .profile-card {
    display: flex;
    flex-direction: column;
    padding: var(--space-s);
  }

  .credentials {
    text-align: center;
    width: 100%;
  }

  .profile-card .tag-group {
    margin-block-start: var(--space-s);
    justify-content: center;
  }

  .name {
    text-align: center;
  }

  .headshot {
    border-width: 4px;
  }
}
