<nav class="navbar">
  <a class="navbar__logo" href="/">
    <h2>Merit Badge University</h2>
  </a>
  <ul class="navbar__nav">
    {{ range .Site.Menus.main }}
      <li class="{{ if $.IsMenuCurrent "main" . }}active{{ end }}">
        <a href="{{ .URL }}" class="navbar__link">{{ .Name }}</a>
      </li>
    {{ end }}
  </ul>
  <a
    href="/search/"
    class="navbar__search button button-secondary"
    aria-label="Search requirements">
    <span class="navbar__search-icon">
      {{ partial "icons/search.html" . }}
    </span>
    <span class="navbar__search-text">Search</span>
  </a>
  <button
    type="button"
    id="theme-toggle"
    class="navbar__theme-toggle button button-secondary"
    aria-label="Theme: System (click to switch to light)"
    data-theme-toggle>
    {{/* TODO: icon */}}
    <span class="navbar__theme-toggle-text" data-theme-toggle-label
      >System</span
    >
  </button>
  <a href="/merit-badges/" class="navbar__cta button navbar__button"
    >Browse Badges</a
  >
</nav>

{{ $themeToggleTS := resources.Get "ts/theme-toggle.ts" | js.Build (dict "minify" true) }}
<script>{{ $themeToggleTS.Content | safeJS }}</script>
