<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ .Title }}",
  "url": "{{ .Permalink }}",
  {{- $slug := path.Base .File.Dir -}}
  {{ $profileImage := printf "%s-profile-600.avif" $slug }}
  {{ with .Resources.GetMatch $profileImage }}"image": "{{ .Permalink }}",{{ end }}
  "description": "{{ .Summary | plainify | safeJS }}",
  "jobTitle": "Doula",
  {{ with .Params.contact -}}
  "email": "{{ .email }}",
  "telephone": "{{ .phone }}",
  {{ with .website -}}
  "sameAs": ["{{ . }}"]
  {{- end -}}
  {{- end }}
}
</script>
