<div
  class="profile-card-container"
  style="view-transition-name: profile-{{ .Title | md5 }};">
  <a href="{{ .RelPermalink }}" class="profile-card">
    {{ $slug := path.Base .File.Dir }}
    {{ $profileImage := printf "%s-profile-300.avif" $slug }}
    {{ with .Resources.GetMatch $profileImage }}
      <img
        loading="lazy"
        height="600"
        width="600"
        src="{{ .RelPermalink }}"
        alt="Headshot of {{ $.Title }}"
        class="headshot"
        style="view-transition-name: headshot-{{ $.Title | md5 }};" />
    {{ else }}
      <div class="placeholder-image"></div>
    {{ end }}
    <h2 class="name" style="view-transition-name: name-{{ .Title | md5 }};">
      {{ .Title }}
    </h2>
    <p
      class="credentials"
      style="view-transition-name: credentials-{{ .Title | md5 }};">
      {{ with .Params.credentials }}
        {{ . }}
      {{ end }}
    </p>

    <ul class="tag-group">
      {{ range .Params.tags }}
        <li
          class="tag"
          style="view-transition-name: tag-{{ . | md5 }}-{{ $.Title | md5 }};">
          {{ . }}
        </li>
      {{ end }}
    </ul>
  </a>
</div>
