{{/* Recursive partial to render a requirement with any depth of nesting */}}
<li{{ if .path }} id="req-{{ .path }}"{{ end }} class="requirement-item">
  <div class="req-text">{{ .text }}</div>

  {{ if .subrequirements }}
    {{/* Determine list type based on first child */}}
    {{ $first := index .subrequirements 0 }}
    {{ $firstId := $first.req_id }}
    {{ $isOption := $first.is_option }}
    {{ $isNumeric := or (eq $firstId "1") (eq $firstId "2") (eq $firstId "3") }}
    <ol class="subrequirements {{ if $isOption }}options{{ else if $isNumeric }}numeric{{ else }}alpha{{ end }}">
      {{ range .subrequirements }}
        {{/* Recursively render nested requirements */}}
        {{ partial "requirement.html" . }}
      {{ end }}
    </ol>
  {{ end }}

  {{ if .resources }}
    <div class="resources">
      <strong>Resources:</strong>
      <ul>
        {{ range .resources }}
          <li><a href="{{ .url }}" target="_blank">{{ .title }}</a></li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
</li>
