{{ $isPrintable := eq (.Get "type") "printable" }}
{{ $url := .Get "url" }}
<a
  href="{{ $url }}"
  class="drg-download"
  {{ if not $isPrintable }}download{{ end }}{{ if $isPrintable }}
    target="_blank" rel="noopener"
  {{ end }}>
  {{ partial "icon.html" (dict "name" "download-simple" "class" "drg-download__icon") }}
  <span class="drg-download__title">{{ .Get "title" }}</span>
  {{ with .Get "description" }}
    <span class="drg-download__description">{{ . }}</span>
  {{ end }}
  <span class="drg-download__print-link">Resource: {{ .Get "title" }} — {{ $url }}</span>
</a>
