{{ define "head-styles" }}
  {{ $pageCSS := "scss/about-doulas.scss" }}
  {{ $options := (dict "transpiler" "dartsass" "outputStyle" "compressed") }}
  {{ $inlineCSS := resources.Get $pageCSS | css.Sass $options }}
  <style>{{ $inlineCSS.Content | safeCSS }}</style>
{{ end }}

{{ define "main" }}
  <h1 style="view-transition-name: title-about-doulas">{{ .Title }}</h1>
  <section class="text-content">
    <h2>Birth Doulas</h2>
    <p>
      Helping families feel empowered to make informed choices about their care
      in pregnancy, birth and parenthood. Providing physical and emotional
      support throughout labor, birth and the early postpartum hours.
    </p>
  </section>
  <section class="text-content">
    <h2>Postpartum Doulas</h2>
    <p>
      Helping families make a smooth transition into parenthood by providing
      assistance with newborn care, breastfeeding support, household duties and
      emotional support in the postpartum period.
    </p>
  </section>
  <section class="text-content">
    <h2>Other Types of Doulas</h2>
    <p>
      Supporting families through all of life's transitions with specialized
      care tailored to unique needs. From fertility journeys to loss and grief,
      these doulas provide compassionate guidance during some of life's most
      profound moments.
    </p>
  </section>

  <section class="text-content">
    <h2>Hiring a Doula</h2>
    <p>
      You are welcome to contact any of the doulas directly to set up a
      complimentary consultation. It is never too early to contact a potential
      doula! Our schedules can fill up quickly, so if you feel a particular
      connection to someone, contact them soon to ensure their availability!
    </p>
    <p>
      A doula consultation, is a good opportunity to ask any questions you might
      have about a doula's experiences, approach and philosophy. It is also a
      time to learn whether or not you feel that the two of you would be a good
      fit in working together.
    </p>
    <p>
      Once you've decided which doula you'd like to hire, you can contact them
      directly. Most doulas have clients sign an agreement of services and pay a
      portion of their fee up front. In general, the remainder of the fee is due
      prior to services are rendered.
    </p>
  </section>

  <section class="text-content">
    <h2>A Note About Doula Fees</h2>
    <p>
      Doula fees are set by each individual doula, team or agency. The average
      fee in the Rochester area for birth doulas is around $1,000 and $30-$35
      for postpartum doulas. The bulk of these fees are formulated by the nature
      of what their services entail:
    </p>
    <ul>
      <li>Unlimited text, email & phone support throughout time of contract</li>
      <li>Prenatal and postpartum visits</li>
      <li>
        On call access to birth doulas 24 hours a day, 7 days a week from 38
        weeks until baby is 1-2 weeks old
      </li>
      <li>
        Availability for continuous care throughout the entirety of your labor
        and birth regardless of whether or not it's a few hours or a few days
      </li>
      <li>
        Childcare costs, travel fees, administrative and business costs, etc.
      </li>
      <li>Level of experience and training</li>
    </ul>
    <p>
      There is a misconception that newer doulas can offer their services for
      free. However, to create a sustainable work environment for themselves and
      their community, most new doulas establish a fee that provides them with a
      living wage.
    </p>
    <p>
      If you are concerned about paying the fee for doula support services,
      please consider the following:
    </p>
    <ul>
      <li>
        What items could you sell, or could you host a garage sale, to cover the
        cost?
      </li>
      <li>Could you put doula support on your shower registry?</li>
      <li>
        Do you or your family members have any services that could be exchanged
        for a portion of the fee?
      </li>
    </ul>
    <p>
      Some doulas do work with sliding scale fees or are able to exchange goods
      or services for their support. Some doulas state this and/or their fee on
      their individual websites. Please contact the doula you are interested in
      to inquire further.
    </p>
  </section>

  <section class="text-content">
    <h2>Have More Questions?</h2>
    <p>
      We have a dedicated <a href="/faq">FAQ section</a> with answers to many
      common questions.
    </p>
  </section>
{{ end }}
