:root {
  --spacing-btn-padding-x: 1.25rem; /* 20px */
  --spacing-btn-radius: 0.625rem; /* 10px */
}

.button {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-boldest);
  font-size: var(--step-1);
  color: var(--brown-100);
  background: var(--teal-500);
  border-radius: var(--border-radius-md);
  padding: var(--space-xs) var(--space-s);
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s;

  &:hover,
  &:focus {
    background: var(--teal-600);
  }

  &-small {
    font-size: var(--step-0);
  }
}
