.header {
  container: header / inline-size;
}

.navbar {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-areas: "logo search cta" "nav nav nav";
  align-items: center;
  background: var(--tan-300);
  padding: var(--space-xs);
  column-gap: var(--space-xs);
  row-gap: var(--space-xs);
}

.navbar__logo {
  grid-area: logo;
  text-decoration: none;
}

.navbar__logo h2 {
  color: var(--color-text-main);
  margin: 0;
}

.navbar__nav {
  grid-area: nav;
  display: flex;
  gap: var(--space-l);
  justify-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__search {
  grid-area: search;
  display: grid;
  place-content: center;
  width: 2.75rem;
  height: 2.75rem;
  color: var(--color-text-main);
  transition: color 0.2s;
  justify-self: end;
  padding: 0;

  &:hover {
    color: var(--olive-600);
  }

  .search-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.navbar__search-text {
  display: none;
}

.navbar__search-icon {
  display: grid;
  place-content: center;
}

.navbar__cta {
  grid-area: cta;
  justify-self: end;
  max-width: max-content;
}

.navbar__link {
  color: var(--color-text-main);
  text-decoration: none;
  font-weight: var(--font-weight-boldest);
}

.navbar__nav > li {
  border-bottom: 5px solid transparent;
}

.navbar__nav > .active {
  border-bottom-color: var(--olive-500);
}

@container header (min-width: 60rem) {
  .navbar {
    grid-template-columns: max-content 1fr max-content max-content;
    grid-template-areas: "logo nav search cta";
    grid-template-rows: auto;
    padding: var(--space-s) var(--space-m);
    column-gap: var(--space-l);
  }

  .navbar__nav {
    justify-self: end;
  }

  .navbar__search {
    justify-self: center;
    width: auto;
    height: auto;
    padding: var(--space-xs) var(--space-s);
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
  }

  .navbar__search-text {
    display: inline;
  }

  .navbar__search-icon {
    display: none;
  }
}
