@use "components/callout";

.benefits,
.membership-join {
  margin-bottom: var(--space-xl);
}

.benefits {
  ul {
    list-style: none;
    padding: 0;
    display: grid;
    gap: var(--space-s);

    @container (width > 600px) {
      grid-template-columns: 1fr 1fr;
      gap: var(--space-l);
    }

    li {
      background-color: var(--brown-100);
      padding: var(--space-s);
      border-radius: var(--border-radius-md);
      border: 3px solid var(--brown-400);
    }
  }
}

.membership-join {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid var(--brown-400);
  border-radius: var(--border-radius-md);
  padding: var(--space-l);
  max-width: max-content;
  margin-inline: auto;

  h2 {
    margin: 0;
    text-align: center;
  }

  .price {
    font-size: var(--step-6);
    color: var(--color-text-main);
    font-weight: var(--font-weight-boldest);
    text-align: center;
    margin-block: 0;
  }

  .membership-cta {
    display: inline-block;
    margin-inline: auto;
    background-color: var(--teal-600);
    cursor: not-allowed;
  }
}

.callout {
  margin-block-start: var(--space-l);
  margin-block-end: 0;
}
