@use "components/nav-card";
@use "button";

.hero {
  position: relative;
  padding: var(--space-m);
  color: var(--brown-300);
  height: 100svh;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content 1fr max-content;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/images/hero-section-small.avif");
    background-size: cover;
    background-position: calc(50% + clamp(0rem, 32.8vw - 9.84rem, 23rem)) center;
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to right,
      rgb(0, 0, 0, 85%) 15%,
      rgba(0, 0, 0, 0%) 86%
    );

    z-index: -1;
  }

  .hero-cta {
    display: none;
    align-self: start;
    justify-self: start;
  }

  .tagline {
    font-size: var(--step-6);
    font-weight: var(--font-weight-boldest);
    line-height: 1.2;
    margin: 0;
    color: var(--brown-200);
    max-width: 18ch;
    text-wrap: pretty;
    margin-block-end: var(--space-xs);
  }

  .org-container {
    display: none;
    flex-direction: column;
    color: var(--brown-200);
  }

  .org-name {
    font-weight: var(--font-weight-boldest);
  }

  .org-location {
    font-size: var(--step--2);
  }
}

.nav-cards-container {
  margin-block-start: var(--space-l);
}

@media screen and (max-width: 30rem) and (orientation: portrait) {
  .hero {
    height: 50svh;
    padding: var(--space-xs);
    row-gap: var(--space-xs);

    .tagline {
      margin-block-end: 0;
    }
  }
}

@media screen and (min-height: 30rem) and (orientation: portrait) {
  .hero .hero-cta {
    display: block;
  }
}

@media screen and (min-height: 37rem) {
  .hero .org-container {
    display: flex;
  }
}

@media screen and (min-width: 30rem) and (orientation: landscape) {
  .hero::before {
    background-image: url("/assets/images/hero-section.avif");
  }

  .hero .tagline {
    margin-block-end: var(--space-2xl);
  }

  .hero .hero-cta {
    display: block;
  }
}

@media screen and (min-width: 60rem) {
  .hero::after {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 35%,
      rgba(0, 0, 0, 0) 75%
    );
  }
}
