{{/* Look for merit badge image for OG tags: use PNG for social compatibility */}}
{{ $meritBadgeImg := .Resources.GetMatch "*-merit-badge.png" }}
{{ $img := "" }}
{{ if $meritBadgeImg }}
  {{ $img = $meritBadgeImg.Permalink }}
{{ else }}
  {{ $img = "/merit-badges/merit-badge-university.jpg" | absURL }}
{{ end }}
{{ $description := .Description | default
  .Summary
}}


<meta name="description" content="{{ $description }}" />

<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink | absURL }}" />
<meta property="og:image" content="{{ $img | absURL }}" />
<meta property="og:description" content="{{ $description }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ $description }}" />
<meta name="twitter:image" content="{{ $img | absURL }}" />
