{{/* Look for merit badge image: {slug}-merit-badge.avif */}}
{{ $meritBadgeImg := .Resources.GetMatch "*-merit-badge.avif" }}
{{ $img := "" }}
{{ if $meritBadgeImg }}
  {{ $img = $meritBadgeImg.Permalink }}
{{ else }}
  {{ $img = "/merit-badges/merit-badge-university.avif" | absURL }}
{{ end }}
{{ $description := .Description | default
  .Summary
}}


<meta name="description" content="{{ $description }}" />

<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink | absURL }}" />
<meta property="og:image" content="{{ $img | absURL }}" />
<meta property="og:description" content="{{ $description }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ $description }}" />
<meta name="twitter:image" content="{{ $img | absURL }}" />
