<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1" />
<meta http-equiv="content-language" content="en-US" />
<title>{{ .Title }}</title>
{{ if .Params.noindex }}
  <meta name="robots" content="noindex, follow" />
{{ end }}

<!-- Resource hints for external domains -->
<link rel="preconnect" href="https://www.scouting.org" crossorigin />
<link rel="dns-prefetch" href="https://filestore.scouting.org" />
<link rel="dns-prefetch" href="https://api.pirsch.io" />
