<div class="callout">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    class="callout__icon"
    viewBox="0 0 64 64">
    <path
      fill="var(--teal-500)"
      d="M35 45a3 3 0 1 1-5.999 0A3 3 0 0 1 35 45Zm-3-27c-5.515 0-10 4.038-10 9v1a2 2 0 0 0 4 0v-1c0-2.75 2.692-5 6-5 3.307 0 6 2.25 6 5s-2.693 5-6 5a2 2 0 0 0-2 2v2a2 2 0 0 0 4 0v-.18c4.56-.837 8-4.475 8-8.82 0-4.962-4.485-9-10-9Zm26 14A26 26 0 1 1 32 6a26.027 26.027 0 0 1 26 26Zm-4 0a22 22 0 1 0-22 22 22.025 22.025 0 0 0 22-22Z" />
  </svg>

  <p class="callout__text">What happens after I submit the form?</p>
</div>

<div class="info-content">
  <p>
    If you're looking for doula support, your information will be shared with
    cooperative members.
  </p>
  <p>
    Doulas who are available around your estimated arrival date will email you
    to set up a complimentary consultation. You may receive 2 or 20 emails
    depending on who is available.
  </p>
  <p>
    It is common for pregnant people to meet with a few doulas to determine who
    they'd feel most comfortable working with.
  </p>
  <p>
    When you're ready to hire one of the doulas you've met with, you can contact
    them directly to sign their client agreement and pay their fee.
  </p>
</div>
