{{- /* BreadcrumbList schema for DRG pages */ -}}
{{- $badgeName := .Params.badge_name | default .CurrentSection.Params.badge_name | default .Parent.Params.badge_name -}}
{{- $isIndex := .IsSection -}}
{{- $badgePage := "" -}}
{{- $guideSection := "" -}}
{{- if $isIndex -}}
  {{- $badgePage = .Parent -}}
  {{- $guideSection = . -}}
{{- else -}}
  {{- $guideSection = .CurrentSection -}}
  {{- $badgePage = $guideSection.Parent -}}
{{- end -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    { "@type": "ListItem", "position": 1, "name": "Home", "item": "{{ .Site.BaseURL }}" },
    { "@type": "ListItem", "position": 2, "name": "Merit Badges", "item": "{{ .Site.BaseURL }}merit-badges/" },
    { "@type": "ListItem", "position": 3, "name": "{{ $badgeName }}", "item": "{{ $badgePage.Permalink | absURL }}" },
    { "@type": "ListItem", "position": 4, "name": "Digital Resource Guide", "item": "{{ $guideSection.Permalink | absURL }}" }
    {{- if not $isIndex -}}
    ,{ "@type": "ListItem", "position": 5, "name": "{{ .Title }}", "item": "{{ .Permalink | absURL }}" }
    {{- end -}}
  ]
}
</script>
